code/src/java/generator/skill/SkillGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT GENERATORSET (SOURCE*,GENERATOR)+>
<!ELEMENT GENERATOR (SKILL+)>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT SKILL (#PCDATA)>
<!ATTLIST GENERATORSET
mutable (true | false) "false">
<!ATTLIST GENERATOR 
name CDATA #REQUIRED
random (true | false) "false">
<!ATTLIST SKILL
weight CDATA "1">
