code/src/java/generators/AbilityBuild.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BUILDSET (BUILD)+>
<!ELEMENT BUILD (SOURCE*, GENERATOR*)>
<!ELEMENT GENERATOR (ABILITY)+>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT ABILITY (#PCDATA)>
<!ATTLIST BUILDSET
mutable (true | false) "false">
<!ATTLIST BUILD
name CDATA #REQUIRED>
<!ATTLIST GENERATOR
catagory CDATA #REQUIRED
type (random | ordered) #REQUIRED>
<!ATTLIST ABILITY
weight CDATA "1">