code/src/java/generators/ClassGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT GENERATORSET (GENERATOR+)>
<!ELEMENT GENERATOR (SOURCE*,CLASS*)>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT CLASS (#PCDATA)>
<!ATTLIST GENERATORSET
mutable (true | false) "false">
<!ATTLIST GENERATOR 
name CDATA #REQUIRED
type (random | ordered) #REQUIRED>
<!ATTLIST CLASS
weight CDATA "1">

