code/src/java/generators/RaceGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT GENERATORSET (GENERATOR+)>
<!ELEMENT GENERATOR (SOURCE*,RACE*)>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT RACE (#PCDATA)>
<!ATTLIST GENERATORSET
mutable (true | false) "false">
<!ATTLIST GENERATOR 
name CDATA #REQUIRED
type (random | ordered) #REQUIRED>
<!ATTLIST RACE
weight CDATA "1">

