code/src/java/generators/SkillGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT GENERATORSET (GENERATOR+)>
<!ELEMENT GENERATOR (SOURCE*,SKILL*)>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT SKILL (#PCDATA)>
<!ATTLIST GENERATORSET
mutable (true | false) "false">
<!ATTLIST GENERATOR 
name CDATA #REQUIRED
type (random | ordered) #REQUIRED>
<!ATTLIST SKILL
weight CDATA "1">
