code/src/java/generator/ClassGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT GENERATORSET (SOURCE*,GENERATOR+)>
<!ELEMENT GENERATOR (CLASS+)>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT CLASS (#PCDATA)>
<!ATTLIST GENERATORSET
mutable (true | false) "false">
<!ATTLIST GENERATOR 
name CDATA #REQUIRED
<!ATTLIST CLASS
weight CDATA "1">

