code/src/java/generator/PurchaseModeGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT GENERATORSET (GENERATOR)+>
<!ELEMENT GENERATOR (COST)+>
<!ELEMENT COST (#PCDATA)>
<!ATTLIST GENERATORSET
 mutable (true | false) "false">
<!ATTLIST GENERATOR
 name CDATA #REQUIRED
 points CDATA #REQUIRED>
<!ATTLIST COST
 score CDATA #REQUIRED>

