code/src/java/generator/StandardModeGenerator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- GENERATOR DTD for Standard Stat Generators -->
<!ELEMENT GENERATORSET (GENERATOR)+>
<!ELEMENT GENERATOR (STAT, STAT, STAT, STAT, STAT, STAT)>
<!ELEMENT STAT (#PCDATA)>
<!ATTLIST GENERATORSET
 mutable (true | false) "false">
<!ATTLIST GENERATOR
 name CDATA #REQUIRED
 assignable (true | false) #REQUIRED>


